* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  position: relative;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: "Lexend Mega", sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.car {
  background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1447&q=80);
  height: 110vh;
  width: 100%;
  position: relative;
  top: -120px;
  background-size: cover;
  background-repeat: no-repeat;
}

.car p {
  color: white;
  position: relative;
  top: 425px;
  display: flex;
  justify-content: start;
  font-size: 70px;
  margin-left: 150px;
  font-family: "Poppins", sans-serif;
}

.container {
  color: black;
  line-height: 150px;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

#about-img {
  height: 35vh;
  width: 60vh;
  margin-bottom: 50px;
}
#about-1 {
  font-family: "Poppins", sans-serif;
}

#about-2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.829);
}

#about-2 a {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.container-fluid img {
  height: 75vh;
  width: 70%;
}

.container-fluid {
  margin: 150px 0px 50px;
}

#perf {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-family: "Lexend Mega", sans-serif;
}

/* Responsive Query */
@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  .car {
    height: 100vh;
    width: 100%;
    position: relative;
    top: -120px;
    background-position: center;
  }
  .container-fluid img {
    height: 65vh;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }

  .container-fluid img {
    height: 60vh;
    width: 80%;
  }

  .car p {
    color: white;
    position: relative;
    top: 400px;
    display: flex;
    justify-content: start;
    font-size: 60px;
    margin-left: 120px;
    font-family: "Poppins", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    z-index: 3;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0px;
  }
  .burger {
    display: block;
  }
  .car p {
    color: white;
    position: relative;
    top: 345px;
    display: flex;
    justify-content: start;
    font-size: 45px;
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
  }

  #about-img {
    height: 25vh;
    width: 60vh;
    margin-bottom: 0px;
  }

  #about-2 a {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 14px;
  }
  #about-2 p {
    font-size: 24px;
  }

  .container-fluid img {
    height: 50vh;
    width: 80%;
  }
  #perf {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .container {
    color: black;
    line-height: 100px;
  }
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  .car p {
    top: 225px;
    display: flex;
    justify-content: start;
    font-size: 20px;
    margin-left: 35px;
  }
  .car {
    background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1447&q=80);
    height: 60vh;
    width: 100%;
    position: relative;
    top: -120px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    color: black;
    line-height: 15px;
  }

  #about-img {
    height: 18vh;
    width: 50vh;
    margin-bottom: 0px;
  }

  #about-2 a {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 9px;
    line-height: 0px;
  }
  #about-2 p {
    font-size: 14px;
  }

  #perf {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 0px;
  }

  #about-1 {
    font-size: 10px;
  }
  #about-1 .col-6 h5 {
    font-size: 11px;
  }

  .container-fluid img {
    height: 30vh;
    width: 80%;
  }
}

@media (max-width: 375px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 325px) {
  body {
    overflow-x: hidden;
  }
}

/* Nav Animation */
.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0px;
    transform: translateX(50px);
  }
  to {
    opacity: 1px;
    transform: translateX(0px);
  }
}
