* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar .navbar-brand {
  margin-left: 50px;
}

nav {
  padding: 10px;
  top: 0px;
  z-index: 1;
}

.navbar-nav li a {
  color: white !important;
  margin: 15px;
  font-family: Lexend Mega;
  font-style: normal;
  font-weight: lighter;
}

.navbar .navbar-brand {
  font-family: Lexend Mega;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  margin-left: 40px;
  color: white !important;
  position: relative;
  top: 3px;
}

.car {
  background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1447&q=80);
  height: 110vh;
  width: 100%;
  position: relative;
  top: -120px;
  background-size: 200vh;
  background-repeat: no-repeat;
}

.car p {
  color: white;
  position: relative;
  top: 400px;
  display: flex;
  justify-content: start;
  font-size: 70px;
  margin-left: 300px;
  font-family: "Poppins", sans-serif;
}

.container {
  color: black;
  line-height: 150px;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container h1 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

#about-img {
  height: 35vh;
  width: 60vh;
  margin-bottom: 50px;
}

#about-2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.829);
}

#about-2 a {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.container-fluid img {
  height: 75vh;
  width: 70%;
}

.container-fluid {
  margin: 150px 0px 50px;
}

#perf {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1.5px;
}
